# Environment files
.env
.env.*

# Editor folders and files
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# AWS credentials and temp files
*.aws/credentials
*.aws/config

# Logs
*.log

# Misc
.DS_Store
